body {
  background-image: url(https://images.paramount.tech/uri/mgid:arc:imageassetref:mtv.com:d2906a58-a278-499a-af13-93a44e50f404?format=webp);
}

.navBar {
  background-color: rgb(17, 16, 16);
  border-width: 2px;
  display: inline;
}

.paraButton
{
  background-color: yellow;
  font-size: 23px;
  border-radius: 5px;
    padding-right:30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  margin-top:10px;
  float: right;
  font-family: Arial, Helvetica, sans-serif;

  font-weight: bold;
  cursor: pointer;
  display: inline;
}

.paraButton:hover {
  background-color: black;
  color: yellow;
}

.mtvLogo {
  width: 66px;
  margin-top: 10px;
  cursor: pointer;
  display: inline-flex;
}

.mtvLogo:hover {
  width: 71px;
}

.menuBar {
  display: inline;
  background-color: transparent;
  margin-left: 25px;
}

.homeButton 
{
  background-color: transparent;
  color: rgb(155, 155, 155);
  font-size: 30px;
  border: none;
  cursor: pointer;
  padding-inline: 20px;
}

.homeButton:hover
{
  color: yellow;
  font-weight: bold;
}

.imageContainer {
 width: fit-content;
 margin-top: 150px; 
}

.watchNowButton {
  background-color: yellow;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-left: 145px;
  margin-top: 50px;
}

.howToWatchButton {
  background-color: gray;
  color: wheat;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-left: 50px;
  margin-top: 50px;

}